<!--<page-header [title]="''"></page-header>-->
<div style="height: 60px; padding: 15px 10px 15px 0; background: white">
  <button nz-button nzType="primary" style="float: right" routerLink="/dashboard/v1" [nzSize]="'default'" nzShape="round">返回首页</button>
</div>
<div nz-row>
  <nz-card nz-col nzSpan="4" nzTitle="车站列表">
    <nz-table #expandTable [nzData]="lineNodePojos" [nzLoading]="railwayLineLoading" nzTableLayout="fixed" [nzFrontPagination]="false">
      <tbody style="margin-left: 0">
        <ng-container *ngFor="let data of expandTable.data">
          <ng-container *ngFor="let item of mapOfExpandedData[data.id]">
            <tr *ngIf="(item.parent && item.parent.expand) || !item.parent">
              <td
                [nzIndentSize]="item.level! * 20"
                [nzShowExpand]="item.level == 0"
                [(nzExpand)]="item.expand"
                (nzExpandChange)="collapse(mapOfExpandedData[data.id], item, $event)"
                (click)="clickLineNodePojo(item)"
              >
                <span [style]="item.id == checkedLineNodePojo.id ? 'color:#1890ff;cursor:pointer' : 'cursor:pointer'">{{ item.name }}</span>
              </td>
            </tr>
          </ng-container>
        </ng-container>
      </tbody>
    </nz-table>
  </nz-card>

  <div nz-col nzSpan="20">
    <nz-card>
      <nz-tabset [(nzSelectedIndex)]="selectIndex">
        <nz-tab *ngFor="let tab of tabs" [nzTitle]="tab.station ? tab.station.name : tab.leftStation.name + '-' + tab.rightStation.name">
          <ng-template nz-tab>
            <opc-map [leftStationId]="tab.leftStation.id" [rightStationId]="tab.rightStation.id"></opc-map>
          </ng-template>
        </nz-tab>
      </nz-tabset>
    </nz-card>
  </div>
</div>
